.hostel-bg {
  background: linear-gradient(to right, var(--cor-12) 30%, var(--cor-11) 0%);
}

.hostel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.hostel-imagem {
  display: grid;
}

.hostel-imagem img {
  grid-area: 1/1;
}

.hostel-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.hostel-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.hostel h2,
.hostel p {
  grid-column: 1/-1;
}

.hostel h2 {
  margin-bottom: 20px;
}

.hostel h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.hostel p {
  margin-bottom: 32px;
}

.hostel a {
  place-self: end;
}

.hostel li {
  display: flex;
  align-items: center;
}

.hostel ul {
  display: grid;
  gap: 16px;
}

.hostel-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .hostel-bg {
    background: var(--cor-12);
  }
  .hostel-bg .hostel-imagem span {
    background: var(--cor-11);
  }
  .hostel {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .hostel-conteudo {
    grid-template-columns: 1fr;
  }
  .hostel ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .hostel a {
    place-self: start;
  }
}
