.footer-bg {
  background-color: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 50vh;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor-p1);
  margin-top: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
  margin-top: -20px;
  margin-left: -30px;
}

.footer-redes a img {
  height: 80px;
  width: auto;

}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 20px;
}

.imgcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 800px) {
  .imgcontainer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-copy {
    margin-top: 0px;
  }
}
